html{
    background-image: url(../Imágenes/ultimofondo.jpg);
    background-size: cover;
    background-attachment: fixed;
}

header{
    position: sticky;
    z-index: 2;
    top: 10px;
    display: inline-block;
    background-color: rgb(92, 92, 92, 80%);
    border-radius: 5px 5px 5px 5px;
    margin-bottom: 10px;
}

p{
    position: sticky;
    top: 10px;
    display: inline-block;
    color: rgb(248, 213, 193);
    font-family: 'Courier New', Courier, monospace;
    margin-left: 10px;
    margin-right: 10px;
}

a{
    position: sticky;
    top: 10px;
    display: inline-block;
    color: rgb(248, 213, 193);
    font-family: 'Courier New', Courier, monospace;
    margin-left: 10px;
    margin-right: 10px;
}

#caja-titulo{
    display: flex;
    justify-content: center;
    background-color: rgb(255, 255, 255, 0%);
    position: sticky;
    z-index: 1;
}

#titulo{
    display: flex;
    justify-content: center;
}

h1{
    margin: 35px;
    color: rgb(255, 255, 255);
    display: inline-block;
    font-family: fantasy;
    text-align: center;
    font-size: 50px;
    background-color: rgba(194, 92, 92);
    padding: 10px;
    border-radius: 5px 5px 5px 5px;
 }

.para-centrar{
    display: flex;
    justify-content: center;
}

.errores{
    border-radius: 5px 5px 5px 5px;
    background-color: rgb(92, 92, 92, 80%);
    max-width: 1500px;
    margin: 10px;
}

h2{
    color: rgb(255, 255, 255);
    position: relative;
    font-family: 'Courier New', Courier, monospace;
    font-size: 40px;
    text-align: center;
}

.error-contenido{
    display: flex;
    align-self: start;
}

img{
    display: inline-block;
    height: 400px;
    border-radius: 5px 5px 5px 5px;
    position: relative;
    left: 10px;
    bottom: 10px;
    margin-right: 10px;
}

.error-texto{
    display: inline-block;
    color: rgb(248, 213, 193);
    font-family: 'Courier New', Courier, monospace;
    font-size: larger;
    text-align: justify;
    margin: 10px;
}

footer{
    background-color: rgb(92, 92, 92, 80%);
    border-radius: 5px 5px 5px 5px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-evenly;
    margin: 10px;
}

@media(max-width:768px){
    html{
    background-image: url(../Imágenes/astronautacelu.jpg);
    }
    #caja-titulo{
        position: static;
        z-index: 0;
    }
    .header-texto{
        text-align: center;
    }
    .error-contenido{
        display: grid;
        grid-template-columns: 1fr;
    }
    img{
        max-width: 650px;
    }
}